---
repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        descpription: Order imports
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        descpription: Code reformatting
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        description: Checking codebase against PEP8
        language: system
        types: [python]